<button (click)="goToHome()"><-- Regresar a Home</button>

<h1>Matriz 3x3</h1>

<div class="flex flex-wrap justify-content-center" style="max-width: 15rem;">
  <div class="flex align-items-center justify-content-center w-4rem h-4rem bg-primary font-bold border-round m-2">1</div>
  <div class="flex align-items-center justify-content-center w-4rem h-4rem bg-primary font-bold border-round m-2">2</div>
  <div class="flex align-items-center justify-content-center w-4rem h-4rem bg-primary font-bold border-round m-2">3</div>

  <div class="flex align-items-center justify-content-center w-4rem h-4rem bg-primary font-bold border-round m-2">4</div>
  <div class="flex align-items-center justify-content-center w-4rem h-4rem bg-primary font-bold border-round m-2">5</div>
  <div class="flex align-items-center justify-content-center w-4rem h-4rem bg-primary font-bold border-round m-2">6</div>

  <div class="flex align-items-center justify-content-center w-4rem h-4rem bg-primary font-bold border-round m-2">7</div>
  <div class="flex align-items-center justify-content-center w-4rem h-4rem bg-primary font-bold border-round m-2">8</div>
  <div class="flex align-items-center justify-content-center w-4rem h-4rem bg-primary font-bold border-round m-2">9</div>
</div>



<h1>Matriz 4x4</h1>
<div class="flex flex-wrap justify-content-center" style="max-width: 20rem;">
  <div class="flex align-items-center justify-content-center w-4rem h-4rem bg-primary font-bold border-round m-2">1</div>
  <div class="flex align-items-center justify-content-center w-4rem h-4rem bg-primary font-bold border-round m-2">2</div>
  <div class="flex align-items-center justify-content-center w-4rem h-4rem bg-primary font-bold border-round m-2">3</div>
  <div class="flex align-items-center justify-content-center w-4rem h-4rem bg-primary font-bold border-round m-2">4</div>

  <div class="flex align-items-center justify-content-center w-4rem h-4rem bg-primary font-bold border-round m-2">5</div>
  <div class="flex align-items-center justify-content-center w-4rem h-4rem bg-primary font-bold border-round m-2">6</div>
  <div class="flex align-items-center justify-content-center w-4rem h-4rem bg-primary font-bold border-round m-2">7</div>
  <div class="flex align-items-center justify-content-center w-4rem h-4rem bg-primary font-bold border-round m-2">8</div>

  <div class="flex align-items-center justify-content-center w-4rem h-4rem bg-primary font-bold border-round m-2">9</div>
  <div class="flex align-items-center justify-content-center w-4rem h-4rem bg-primary font-bold border-round m-2">10</div>
  <div class="flex align-items-center justify-content-center w-4rem h-4rem bg-primary font-bold border-round m-2">11</div>
  <div class="flex align-items-center justify-content-center w-4rem h-4rem bg-primary font-bold border-round m-2">12</div>

  <div class="flex align-items-center justify-content-center w-4rem h-4rem bg-primary font-bold border-round m-2">13</div>
  <div class="flex align-items-center justify-content-center w-4rem h-4rem bg-primary font-bold border-round m-2">14</div>
  <div class="flex align-items-center justify-content-center w-4rem h-4rem bg-primary font-bold border-round m-2">15</div>
  <div class="flex align-items-center justify-content-center w-4rem h-4rem bg-primary font-bold border-round m-2">16</div>
</div>

<h1>Matriz 5x5</h1>
<div class="flex flex-wrap justify-content-center" style="max-width: 25rem;">
  <div class="flex align-items-center justify-content-center w-4rem h-4rem bg-primary font-bold border-round m-2">1</div>
  <div class="flex align-items-center justify-content-center w-4rem h-4rem bg-primary font-bold border-round m-2">2</div>
  <div class="flex align-items-center justify-content-center w-4rem h-4rem bg-primary font-bold border-round m-2">3</div>
  <div class="flex align-items-center justify-content-center w-4rem h-4rem bg-primary font-bold border-round m-2">4</div>
  <div class="flex align-items-center justify-content-center w-4rem h-4rem bg-primary font-bold border-round m-2">5</div>

  <div class="flex align-items-center justify-content-center w-4rem h-4rem bg-primary font-bold border-round m-2">6</div>
  <div class="flex align-items-center justify-content-center w-4rem h-4rem bg-primary font-bold border-round m-2">7</div>
  <div class="flex align-items-center justify-content-center w-4rem h-4rem bg-primary font-bold border-round m-2">8</div>
  <div class="flex align-items-center justify-content-center w-4rem h-4rem bg-primary font-bold border-round m-2">9</div>
  <div class="flex align-items-center justify-content-center w-4rem h-4rem bg-primary font-bold border-round m-2">10</div>

  <div class="flex align-items-center justify-content-center w-4rem h-4rem bg-primary font-bold border-round m-2">11</div>
  <div class="flex align-items-center justify-content-center w-4rem h-4rem bg-primary font-bold border-round m-2">12</div>
  <div class="flex align-items-center justify-content-center w-4rem h-4rem bg-primary font-bold border-round m-2">13</div>
  <div class="flex align-items-center justify-content-center w-4rem h-4rem bg-primary font-bold border-round m-2">14</div>
  <div class="flex align-items-center justify-content-center w-4rem h-4rem bg-primary font-bold border-round m-2">15</div>

  <div class="flex align-items-center justify-content-center w-4rem h-4rem bg-primary font-bold border-round m-2">16</div>
  <div class="flex align-items-center justify-content-center w-4rem h-4rem bg-primary font-bold border-round m-2">17</div>
  <div class="flex align-items-center justify-content-center w-4rem h-4rem bg-primary font-bold border-round m-2">18</div>
  <div class="flex align-items-center justify-content-center w-4rem h-4rem bg-primary font-bold border-round m-2">19</div>
  <div class="flex align-items-center justify-content-center w-4rem h-4rem bg-primary font-bold border-round m-2">20</div>

  <div class="flex align-items-center justify-content-center w-4rem h-4rem bg-primary font-bold border-round m-2">21</div>
  <div class="flex align-items-center justify-content-center w-4rem h-4rem bg-primary font-bold border-round m-2">22</div>
  <div class="flex align-items-center justify-content-center w-4rem h-4rem bg-primary font-bold border-round m-2">23</div>
  <div class="flex align-items-center justify-content-center w-4rem h-4rem bg-primary font-bold border-round m-2">24</div>
  <div class="flex align-items-center justify-content-center w-4rem h-4rem bg-primary font-bold border-round m-2">25</div>
</div>

<h1>Matriz 6x6</h1>
<div class="flex flex-wrap justify-content-center" style="max-width: 30rem;">
  <div class="flex align-items-center justify-content-center w-4rem h-4rem bg-primary font-bold border-round m-2">1</div>
  <div class="flex align-items-center justify-content-center w-4rem h-4rem bg-primary font-bold border-round m-2">2</div>
  <div class="flex align-items-center justify-content-center w-4rem h-4rem bg-primary font-bold border-round m-2">3</div>
  <div class="flex align-items-center justify-content-center w-4rem h-4rem bg-primary font-bold border-round m-2">4</div>
  <div class="flex align-items-center justify-content-center w-4rem h-4rem bg-primary font-bold border-round m-2">5</div>
  <div class="flex align-items-center justify-content-center w-4rem h-4rem bg-primary font-bold border-round m-2">6</div>
  <div class="flex align-items-center justify-content-center w-4rem h-4rem bg-primary font-bold border-round m-2">7</div>

  <div class="flex align-items-center justify-content-center w-4rem h-4rem bg-primary font-bold border-round m-2">8</div>
  <div class="flex align-items-center justify-content-center w-4rem h-4rem bg-primary font-bold border-round m-2">9</div>
  <div class="flex align-items-center justify-content-center w-4rem h-4rem bg-primary font-bold border-round m-2">10</div>
  <div class="flex align-items-center justify-content-center w-4rem h-4rem bg-primary font-bold border-round m-2">11</div>
  <div class="flex align-items-center justify-content-center w-4rem h-4rem bg-primary font-bold border-round m-2">12</div>
  <div class="flex align-items-center justify-content-center w-4rem h-4rem bg-primary font-bold border-round m-2">13</div>
  <div class="flex align-items-center justify-content-center w-4rem h-4rem bg-primary font-bold border-round m-2">14</div>

  <div class="flex align-items-center justify-content-center w-4rem h-4rem bg-primary font-bold border-round m-2">15</div>
  <div class="flex align-items-center justify-content-center w-4rem h-4rem bg-primary font-bold border-round m-2">16</div>
  <div class="flex align-items-center justify-content-center w-4rem h-4rem bg-primary font-bold border-round m-2">17</div>
  <div class="flex align-items-center justify-content-center w-4rem h-4rem bg-primary font-bold border-round m-2">18</div>
  <div class="flex align-items-center justify-content-center w-4rem h-4rem bg-primary font-bold border-round m-2">19</div>
  <div class="flex align-items-center justify-content-center w-4rem h-4rem bg-primary font-bold border-round m-2">20</div>
  <div class="flex align-items-center justify-content-center w-4rem h-4rem bg-primary font-bold border-round m-2">21</div>

  <div class="flex align-items-center justify-content-center w-4rem h-4rem bg-primary font-bold border-round m-2">22</div>
  <div class="flex align-items-center justify-content-center w-4rem h-4rem bg-primary font-bold border-round m-2">23</div>
  <div class="flex align-items-center justify-content-center w-4rem h-4rem bg-primary font-bold border-round m-2">24</div>
  <div class="flex align-items-center justify-content-center w-4rem h-4rem bg-primary font-bold border-round m-2">25</div>
  <div class="flex align-items-center justify-content-center w-4rem h-4rem bg-primary font-bold border-round m-2">26</div>
  <div class="flex align-items-center justify-content-center w-4rem h-4rem bg-primary font-bold border-round m-2">27</div>
  <div class="flex align-items-center justify-content-center w-4rem h-4rem bg-primary font-bold border-round m-2">28</div>

  <div class="flex align-items-center justify-content-center w-4rem h-4rem bg-primary font-bold border-round m-2">29</div>
  <div class="flex align-items-center justify-content-center w-4rem h-4rem bg-primary font-bold border-round m-2">30</div>
  <div class="flex align-items-center justify-content-center w-4rem h-4rem bg-primary font-bold border-round m-2">31</div>
  <div class="flex align-items-center justify-content-center w-4rem h-4rem bg-primary font-bold border-round m-2">32</div>
  <div class="flex align-items-center justify-content-center w-4rem h-4rem bg-primary font-bold border-round m-2">33</div>
  <div class="flex align-items-center justify-content-center w-4rem h-4rem bg-primary font-bold border-round m-2">34</div>
  <div class="flex align-items-center justify-content-center w-4rem h-4rem bg-primary font-bold border-round m-2">35</div>
  <div class="flex align-items-center justify-content-center w-4rem h-4rem bg-primary font-bold border-round m-2">36</div>
</div>

