<button (click)="goToHome()"><-- Regresar a Home</button>

<div class="flex align-items-center justify-content-center">
    <div class="col-4">
        <div class="text-center h-8rem p-3 border-round-sm h-full bg-primary font-bold">5</div>
    </div>
</div>

<div class="flex justify-content-between">
    <div class="col-3">
        <div class="text-center h-8rem p-3 border-round-sm bg-primary font-bold">3</div>
    </div>
    <div class="col-3">
        <div class="text-center h-8rem p-3 border-round-sm bg-primary font-bold">4</div>
    </div>
</div>

<div class="flex flex-wrap justify-content-start w-full mt-4 gap-4">
    <div class="w-10rem h-10rem bg-primary font-bold flex align-items-center justify-content-center p-4 border-round mb-3 lg:w-10rem md:w-8rem sm:w-6rem"></div>
    <div class="w-10rem h-10rem bg-primary font-bold flex align-items-center justify-content-center p-4 border-round mb-3 lg:w-10rem md:w-8rem sm:w-6rem"></div>
    <div class="w-10rem h-10rem bg-primary font-bold flex align-items-center justify-content-center p-4 border-round mb-3 lg:w-10rem md:w-8rem sm:w-6rem"></div>
    <div class="w-10rem h-10rem bg-primary font-bold flex align-items-center justify-content-center p-4 border-round mb-3 lg:w-10rem md:w-8rem sm:w-6rem"></div>
    <div class="w-10rem h-10rem bg-primary font-bold flex align-items-center justify-content-center p-4 border-round mb-3 lg:w-10rem md:w-8rem sm:w-6rem"></div>
    <div class="w-10rem h-10rem bg-primary font-bold flex align-items-center justify-content-center p-4 border-round mb-3 lg:w-10rem md:w-8rem sm:w-6rem"></div>
    <div class="w-10rem h-10rem bg-primary font-bold flex align-items-center justify-content-center p-4 border-round mb-3 lg:w-10rem md:w-8rem sm:w-6rem"></div>
    <div class="w-10rem h-10rem bg-primary font-bold flex align-items-center justify-content-center p-4 border-round mb-3 lg:w-10rem md:w-8rem sm:w-6rem"></div>
</div>




<div class="flex justify-end">
    <div class="col-4 col-offset-8 sm:col-12 lg:col-4 lg:col-offset-8 md:col-4 md:col-offset-8">
        <div class="text-center h-8rem p-3 border-round-sm h-full bg-primary font-bold">5</div>
    </div>
</div>

 
<div class="flex justify-content-between w-full mt-4 px-0 lg:flex-row md:flex-row sm:flex-column sm:align-items-end">
    <div class="col-6 lg:col-3 md:col-3 sm:col-9 px-0">
        <div class="text-center  align-items-end w-full h-8rem p-3 border-round-sm bg-primary font-bold">2</div>
    </div>
    <div class="col-6 lg:col-3 md:col-2 sm:col-9 px-0">
        <div class="text-center align-items-end h-8rem p-3 border-round-sm bg-primary font-bold">2</div>
    </div>
</div>


<div class="flex align-items-center justify-content-center">
    <div class="col-4">
        <div class="text-center h-8rem p-3 border-round-sm h-full bg-primary font-bold">6</div>
    </div>
</div>

