<h1 >Deberes</h1>
<h2>Alan Rivera</h2>
<h3>Teck</h3>


<div class="grid justify-content-center gap-4">
    <!-- Card 1 -->
    <div class="col-12 md:col-6 lg:col-2">
        <div class="p-6 surface-card border-round shadow-2">
            <div class="flex flex-column align-items-center">
                <img 
                    src="https://images.pexels.com/photos/546819/pexels-photo-546819.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" 
                    alt="Card Image" 
                    class="w-12rem border-round mb-3"
                />
                <h2 class="text-xl font-medium text-center mb-3">Deber 1</h2>
                <p class="text-center text-secondary mb-3">
                    Matrices
                </p>
                <button pButton type="button" class="p-button-raised p-button-primary">
                    <a routerLink="/entregable1">Ver</a>
                </button>
            </div>
        </div>
    </div>

    <!-- Card 2 -->
    <div class="col-12 md:col-6 lg:col-2">
        <div class="p-6 surface-card border-round shadow-2">
            <div class="flex flex-column align-items-center">
                <img 
                    src="https://images.pexels.com/photos/546819/pexels-photo-546819.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" 
                    alt="Card Image" 
                    class="w-12rem border-round mb-3"
                />
                <h2 class="text-xl font-medium text-center mb-3">Deber 2</h2>
                <p class="text-center text-secondary mb-3">
                    Responsive
                </p>
                <button pButton type="button"  class="p-button-raised p-button-primary">
                    <a routerLink="/entregable2">Ver</a>
                </button>
            </div>
        </div>
    </div>

    <!-- Card 3 -->
    <div class="col-12 md:col-6 lg:col-2">
        <div class="p-6 surface-card border-round shadow-2">
            <div class="flex flex-column align-items-center">
                <img 
                    src="https://images.pexels.com/photos/546819/pexels-photo-546819.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" 
                    alt="Card Image" 
                    class="w-12rem border-round mb-3"
                />
                <h2 class="text-xl font-medium text-center mb-3">Deber 3</h2>
                <p class="text-center text-secondary mb-3">
                    Cards
                </p>
                <button pButton type="button" class="p-button-raised p-button-primary">
                    <a routerLink="/entregable3">Ver</a>
                </button>
            </div>
        </div>
    </div>

    <!--Card 4-->
    <div class="col-12 md:col-6 lg:col-2">
        <div class="p-6 surface-card border-round shadow-2">
            <div class="flex flex-column align-items-center">
                <img 
                    src="https://images.pexels.com/photos/546819/pexels-photo-546819.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" 
                    alt="Card Image" 
                    class="w-12rem border-round mb-3"
                />
                <h2 class="text-xl font-medium text-center mb-3">Deber 4</h2>
                <p class="text-center text-secondary mb-3">
                    Form
                </p>
                <button pButton type="button" class="p-button-raised p-button-primary">
                    <a routerLink="/entregable4">Ver</a>
                </button>
            </div>
        </div>
    </div>

    <!--Card 4-->
    <div class="col-12 md:col-6 lg:col-2">
        <div class="p-6 surface-card border-round shadow-2">
            <div class="flex flex-column align-items-center">
                <img 
                    src="https://images.pexels.com/photos/546819/pexels-photo-546819.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" 
                    alt="Card Image" 
                    class="w-12rem border-round mb-3"
                />
                <h2 class="text-xl font-medium text-center mb-3">Deber 5</h2>
                <p class="text-center text-secondary mb-3">
                    Carrousel
                </p>
                <button pButton type="button" class="p-button-raised p-button-primary">
                    <a routerLink="/entregable5">Ver</a>
                </button>
            </div>
        </div>
    </div>

</div>

<router-outlet></router-outlet>
