@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Peralta&display=swap');

*{
    padding: 0;
    margin: 0;
}
h1{
    font-family: "Dancing Script", cursive;
    text-align: center;
    font-size: 6rem;
    margin-top: 2rem;

}
h2{
    text-align: center;
    font-size: 2rem;
    margin-top: 2rem;
}
h3{
    font-family: "Dancing Script", cursive;
    text-align: center;
    font-size: 2rem;
}
a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: bold;
}
button{
    border-radius: 10px;
    padding: 10px  30px;
    background-color: rgb(40, 78, 153);
    border: none;
    cursor: pointer;
}
.grid{
    margin-top: 2rem;
}